<ion-content [fullscreen]="true">
  <div id="container">
    <h1>Welcome to recomusic</h1>
    <hr />
    <h2>What is recomusic?</h2>
    <p>
      Recomusic is a website dedicated to posting music recommendations (as it's
      name may suggest). Users can freely fill a form with the details of a song
      they like and a card will appear showing those details so other users can
      enjoy it!
    </p>
    <ion-button shape="round" (click)="goToSongs()"
      >Start exploring recommendations!</ion-button
    >
  </div>
</ion-content>
