<ion-content [fullscreen]="true">
  <div id="container">
    <ion-list>
      <ion-card class="add-card" (click)="openModal()">
        <ion-card-header>
          <ion-card-title>
            <ion-icon name="add-circle-outline"></ion-icon>
            Add New Song
          </ion-card-title>
        </ion-card-header>
      </ion-card>

      <ion-card *ngFor="let song of songs">
        <ion-card-header>
          <ion-card-title>{{song.title}}</ion-card-title>
          <ion-card-subtitle>{{song.artist}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div class="action-buttons">
            <ion-button fill="clear" size="small" (click)="openEditModal(song)">
              <ion-icon name="create-outline" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button fill="clear" color="danger" size="small" (click)="confirmDelete(song)">
              <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-list>
    <div *ngIf="songs.length === 0">
      <p>No songs available</p>
    </div>
  </div>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ editMode ? 'Edit Song' : 'Add New Song' }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModal()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Title</ion-label>
          <ion-input [(ngModel)]="newSong.title" placeholder="Enter song title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Artist</ion-label>
          <ion-input [(ngModel)]="newSong.artist" placeholder="Enter artist name"></ion-input>
        </ion-item>
        <ion-button expand="block" class="ion-margin-top" (click)="editMode ? updateSong() : createSong()" [disabled]="!newSong.title || !newSong.artist">
          {{ editMode ? 'Update Song' : 'Save Song' }}
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
